html, body {
  margin: 0;
  width: 100%;
  min-width: 20em;
  overflow-x: hidden;
    text-align: center;
}


@font-face {
  font-family: 'Voltaire';
  src: url("assets/Voltaire.eot");
  src: url("Voltaire.eot?#iefix") format("embedded-opentype"), url("assets/Voltaire.woff") format("woff"), url("assets/Voltaire.ttf") format("truetype"), url("assets/Voltaire.svg#webfont") format("svg"); 
}

body {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  color: #555;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

h1, h2 {
  font-family: 'Voltaire';
  margin: 1em 0 0.5em 0;
  font-weight: normal;
  color: #222; }

h2 {
  font-size: 2em; }

h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 500;
  margin: 0 0 0.5em 0;
  color: #222; }

p {
  margin: 0 0 1em 0; }

a {
  color: #729d34;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

pre, code {
  font-family: Inconsolata, monospace; }

strong, b {
  font-weight: 500; }

li {
  margin: 0 0 0.5em 0; }


.rating {
    margin: 0 0 1em 0;
}

    .rating:after {
        content: '';
        display: table;
        clear: both;
    }

.star {
    font-size: 2em;
    color: #eee;
    cursor: pointer;
    display: block;
    float: left;
}

.readonly .star {
    cursor: default;
}

.highlighted {
    color: #ccc;
}

.selected {
    color: #729d34;
}

h3 {
    font-family: 'Voltaire';
}

.current-rating {
    float: left;
    margin-right: 2em;
    padding-top: 2em;
    text-align: center;
}

    .current-rating strong {
        display: block;
        clear: both;
        font-size: 6em;
        font-family: 'Voltaire';
    }

.ratings {
    float: left;
    border-left: 1px solid #eee;
    padding-left: 1em;
}
