.data-grid {
  display: flex;
  flex-direction: column;
}
.data-grid-header {
  display: flex;
  width: 100%;
  padding: 4px 0;
  font-weight: normal;
  color: #888;
  font-size: 15px;
  background-color: #EEE;
}
.data-grid-row {
  display: flex;
  cursor: pointer;
}
.data-grid-row-selected {
  background-color: #20a8d8;
  color: white;
}
.data-grid-row-selected .data-grid-cell-content {
  color: white;
}
.data-grid-row-header {
  width: 34px;
  line-height: 30px;
  text-align: center;
}
.data-grid-cell {
  width: 100px;
  line-height: 30px;
}
.data-grid-cell-content {
  padding-right: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 34px;
}
.data-grid-cell-content input {
  border: none;
  background-color: inherit;
  color: inherit;
  width: 100%;
}
.data-grid-cell-content a {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.data-grid-content {
  overflow: auto;
}