<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
  </system.webServer>
  <runtime>
    <gcServer>true</gcServer>
  </runtime>
</configuration>