@model dynamic

@{
    ViewBag.Title = "title";
    Layout = null;
}

<h2>title</h2>
<form method="POST" enctype="multipart/form-data" action="http://localhost:15448/api/file/add">
    <input type="file" name="file" />
    <button type="submit">upload</button>
</form>
