<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(TargetDir)\Irony.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Irony.Parsing" #>
<#@ output extension=".js" #>

<#+
[Language("binder")]
public class BinderGrammar: Grammar
{
	BinderGrammar() : base(true) 
	{
		var ap = ToTerm("@");
	}
}
#>