
<!DOCTYPE html>
<html>
<head>
  <title>dbmon (template js)</title>
  <meta name="description" content="DBMON Angular Light" />
  <meta charset="utf-8">
  <link href="../clock/app.css" rel="stylesheet" />

  <script src="../../lib/system.js/dist/system.js"></script>
</head>
<body>

  <div id="content">
  </div>

  <script>
    System.config({ packages: { '/': {} } });
    System.import("app").then(app => {
      var target = document.body.querySelector("#content");
      app.bind(target);
    });
  </script>
</body>
</html>
