.xn-border-box, div.xn-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.xn-list-scrollable {
    position: relative;
    overflow: auto;
    width: 100%;
    max-height: 100%;
    height: 100%;
    border: 1px solid #AAA;
}

div.xn-grid {
    width: 100%;
    max-height: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 40px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

div.xn-grid div.xn-content > table > thead {
        display: none;
    }

div.xn-grid-header {
    background-color: rgba(155, 155, 155, 0.4);
    width: 100%;
    border: 1px solid gray;
    line-height: 30px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: -40px;
}

div.xn-grid-row-header {
    min-width: 30px;
    text-align: center;
    background-color: #DDD;
}

    div.xn-grid-row-header input {
        pointer-events: none;
    }

div.xn-grid-header-cell {
    display: table-cell;
    font-weight: bold;
}

.xn-list-item {
    line-height: 30px;
    height: 30px;
}

.xn-grid-row-header {
    border-top: 1px dotted #AAA;
}

div.xn-grid-cell {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 0px;
    overflow: hidden;
    border-left: 1px dotted #AAA;
    border-top: 1px dotted #AAA;
}

div.xn-grid-cell-content {
    display: block;
    color: inherit;
    padding: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    width: 280px;
    border-left: 1px solid gray;
    padding: 0px 10px;
}

.xn-list-filter {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    padding: 0px 4px;
    background-color: white;
    color: gray;
}

.open .xn-focus-point {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=05);
    -moz-opacity: 0.05;
    -khtml-opacity: 0.05;
    opacity: 0.05;
    z-index: 10000;
}

.xn-selected {
    color: green;
}

.xn-files {
    border: 1px solid black;
    background-color: white;
}

    .xn-files.xn-files-focused {
        border: 1px dashed green;
    }

.xn-grid-content-loader {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    line-height: 100%;
    text-align: center;
}

div.xn-grid-cell-content > a {
    display: block;
    text-decoration: none;
    border: none;
    font-size: smaller;
}

tr.xn-grid-row-alternate td.xn-grid-cell {
    background-color: #eee;
}

tr.xn-grid-row-activated div.xn-grid-row-header {
    background-color: #427bb2;
    color: white;
}

tr.xn-grid-row-activated td.xn-grid-cell {
    background-color: #6e9ecc;
}

tr.xn-grid-row-selected div.xn-grid-cell-content > * {
    color: green;
}

tr.xn-grid-row-activated div.xn-grid-cell-content > * {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

tr.xn-grid-row-updated div.xn-grid-cell-content > * {
    font-weight: bold;
}



#users .xn-grid-column-0,
#users .xn-grid-column-0 .xn-grid-cell-content {
    min-width: 250px;
    width: 250px;
}


#users .xn-grid-column-1,
#users .xn-grid-column-1 .xn-grid-cell-content {
    min-width: 400px;
    width: 400px;
}


#users .xn-grid-column-2,
#users .xn-grid-column-2 .xn-grid-cell-content {
    min-width: 180px;
    width: 180px;
}


.xn-list-item td {
    margin: 0;
    padding: 0;
}
