.data-grid-cell {
  &-content {
    color: gray;

    .invoice-number {
      color: black;
      margin-right: 10px;
    }
  }

  &.data-grid-column {
    &-description {
      width: 200px;
    }

    &-invoicedate {
      width: 140px;
    }

    &-status {
      width: 80px;
    }
  }
}


.dropdown-toggle:focus {
    color: red;
}