.xania-diagram {
  min-height: 100%;
  width: 100%;
  position: relative;
}
.xania-diagram .xania-draggable {
  position: absolute;
  cursor: pointer;
}
.xania-diagram div.xania-draggable {
  border: 3px solid black;
  border-radius: 18px;
  padding: 2px;
  display: block;
  text-align: center;
  width: 100px;
  height: 50px;
}
.xania-diagram svg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.xania-diagram path {
  stroke-width: 3px;
  stroke-linecap: round;
  fill: none;
}