body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

nav {
    background-color: #01A1DD;
}

h1, h2, h3, h4, h5 {
    color: #BA4C53;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
